body{
    font-family: 'Merriweather', serif;
   
}

.banner{
    position: relative;
}

.banner img{
    width: 100%;
    height: auto;
    flex-shrink: 0;
    filter: brightness(50%);
}

.banner-text{
    color: #FFF;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 600px; 
  padding: 0 20px; 
  box-sizing: border-box; 
    
    
}

.banner-text h3{
font-size: 32px;
font-weight: 600;
margin-bottom: 16px;

}

.banner-text h2{
    font-size: 70px;
    font-weight: 900;
    line-height: 95px; 
    margin-top: 0px;
    
}


/* styles for main part */

.gen-text{
    text-align: center;
    font-family: 'Inter', sans-serif;
margin: 120px;
}

.gen-text h1{
    color: #F00;
font-size: 88px;
font-weight: 700;
margin-bottom: 0px;
}

.gen-text p{
    color: #F00;
font-size: 24px;
font-weight: 500;
margin-top: 48px;
margin-bottom: 16px;
}

.gen-text h3{
    color: #070211;
font-size: 48px;
font-weight: 700;
margin-top: 0px;
margin-bottom: 48px;
}



/* party image */
.party{
    position: relative;
}

.button{
    color: #000000;
text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
}

#Vectorrr{
    filter: brightness(70%);
}

#wel{
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px; 
    letter-spacing: 7.04px;

    margin-top: 125px;
    margin-bottom: 25px;

}

#paragraph{
    color: rgba(255, 255, 255, 0.80);
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 166.667% */

margin-top: 0px;
margin-bottom: 48px;
}

#button{

text-align: center;
font-family: Inter;
font-size: 20px;
font-weight: 700;
text-transform: uppercase;
margin-top: 0px;
}

.primary-button{
    border-radius: 5px;
    color: white;
    background: #fe0000;
    border: 0;
    padding: 16px 35px;
    font-size: 20px;
    font-weight: 700;
}

.paragraph{
    color: #F00;
text-align: center;
font-family: Inter;
font-size: 32px;
font-weight: 600;
line-height: 56px; /* 175% */
text-transform: capitalize;

padding-top: 130px;
padding-right: 130px;
padding-bottom: 330px;
padding-left: 130px;
border-radius: 10px;
background: #e6ddda;
margin-top: 130px;
margin-bottom: 130px;
}

.paragraph h2{
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 60px;
    text-transform: capitalize;
}




/* coming soon part */

.best-offer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;



    color: #070211;
font-family: Merriweather;
font-size: 48px;
font-weight: 900;
line-height: normal;
text-transform: capitalize;
}

.offer-nav{
    display: flex;
    justify-content: flex-start; /* Align items from left to right */
    align-items: center;
    width: 100%;
    max-width: 1200px; /* Set a maximum width for responsiveness */
    margin: 0 auto; /* Center the content */
}

.offer-item{
    text-align: center;
    padding: 20px;
}




.part-1{
    order: 1; /* Set the order for part 2 */ 
    margin-right: 80px;
}

.part-2{
    order: 2; /* Set the order for part 1 */
    margin-left: opx;
    margin-right: 80px;

}

.part-3{
    order: 3; /* Set the order for part 3 */
margin-left: 0px;
}


.offer-item img{
    max-width: 100%; /* Adjust image width */
}


#a1{
    color: #F00;
    text-align: left;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

#a2{
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;   
    
}

#a3{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 160% */   
}

#b2{

    color: #F00;
font-family: Inter;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;
}